/*--------------------- Srcoll Personalizado ---------------------*/
body::-webkit-scrollbar{
    width: 10px;
   
}
body::-webkit-scrollbar-thumb{
    background:rgba(48, 163, 127);
    border-radius: 6px;
}
/*---------------------  Estilos Base ---------------------*/
*{
   
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;  
}
body{
    background: #fff;
}
/*---------------------  Estilos Barra Color ---------------------*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgb(0,0,0,.1);
}
.scrolling-active .nav-links a{
    color: #313131;
}
.scrolling-active .logo h4{
    color: #313131;
}
/*--------------------- Animados ---------------------*/
.animado{
    opacity: 0;
    transition: all 0.5s;
}
.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }

}

@media screen and (max-width: 1920px){

  /*--------------------------------------- Header/nav ---------------------------------*/
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    z-index: 1; 
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;

}
.logo img{
    width: 50px;
    height: 50px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    
    
}
.nav-links li{
    list-style: none;
    
    
}
.nav-links a{
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#Free_button{
    text-decoration: none;
    color: rgba(48, 163, 127);
    border-color: rgba(48, 163, 127);
    border-style: solid;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

}
.burger{
    display: none;
    cursor: pointer;
    
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;  
}
.nav-links a:hover{
    color: rgba(48, 163, 127);
}

 
/*----------------------------------Theme Black-----------------------------------------*/
    .banner{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        transition: all .1s ease-in-out;
        background-image: url('img/Banner.jpg');
        animation: banner 20s infinite linear;
        margin-bottom: 20px;    
    }
    .banner-contect{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 22, 40, .6);
        display: flex;
        
    }
    .banner-info{
        width: 50%;
        margin: 60px;
        margin-top: 15%;
    }
    .banner-info h1{
        color: rgba(48, 163, 127);
        margin: 0;
        padding: 0;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: -45px;
    }
    .banner-contect h2{
        color: rgba(48, 163, 127);
        margin: 0;
        padding: 0;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;
    }
    .banner-contect p{
        color: #fff;
        text-align: left;
 
        
    }

    .banner-contect a {
        background-color: rgba(48, 163, 127);
        text-decoration: none;
        color: seashell;
        padding: 9px 20px;
        border-radius: 10%;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
    .banner-contect p{
        margin: 0;
        padding: 0;
    }
    .banner-contect a:hover{
        background-color: #fff;
        color: #333;
    }
   /*----------------------------------Theme White-----------------------------------------*/
   .banner2{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('img/FondoBlanco.png');
    animation: banner 20s infinite linear;
    margin-bottom: 20px;    
}
.banner-contect2{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.banner-info2{
    width: 50%;
    margin: 60px;
    margin-top: 15%;
}
.banner-info2 h1{
    color: rgb(48, 135, 94);
    margin: 0;
    padding: 0;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -45px;
}
.banner-contect2 h2{
    color: rgb(48, 135, 94);
    margin: 0;
    padding: 0;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
}
.banner-contect2 p{
    text-align: left;
    
}

.banner-contect2 a {
    background-color: rgb(145, 189, 119);
    text-decoration: none;
    color: seashell;
    padding: 9px 20px;
    border-radius: 10%;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.banner-contect2 p{
    margin: 0;
    padding: 0;
}
.banner-contect2 a:hover{
    background-color: rgb(48, 135, 94);
    color: white;
    
}

    
    @media screen and (max-width: 1024px){
        #roksearch_results{
            display:none;
        }
        
        /*--------------------------------------- Header ---------------------------------*/
        .nav-links{
            width: 60%;
        }
    }
    
    @media screen and (max-width:841px){
      

        /*--------------------- Header/nav ---------------------*/
        html, body {
           
            background: #fff;
            
        }
        .logo h4{
            color: black;
        }

        nav{
            background-color:#fff;
        
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top:8vh;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        
        .nav-links li{
            opacity: 0;
            
        }
        .nav-links a{
            color: black;
        }
        .burger{
            display: block;
            
        }
        .nav-active{
            transform: translateX(0%);
        }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);

        }    
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
      /*----------------------------------Theme Black-----------------------------------------*/
    .banner{
        height: 500px;
        padding: 0;
        margin: 0;
        width: auto;
    }
    .banner-info{
        color: #fff;  
    }
    .banner-info h1{
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;   
    }
    .banner-contect h2{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }
    .banner-info p{
        margin-bottom: 40px;
    }
     /*----------------------------------Theme White-----------------------------------------*/
     .banner2{
        height: 500px;
        padding: 0;
        margin: 0;
        width: auto;
    }
    .banner-info2{
        color: #000;  
    }
    .banner-info2 h1{
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;   
    }
    .banner-contect2 h2{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }
    .banner-info2 p{
        margin-bottom: 40px;
    }
}
    
    